:root{
    --fs-16:16px;
    --fs-32:32px;
    --fs-38:38px;
    --fs-48:48px;
    --fs-64:64px;
    --fw-400:400;
    --fw-700:700;
}

@media (max-width:768px) {
    :root {
        --fs-32:25px;
        --fs-38: 33px;
        --fs-48: 43px;
        --fs-64: 56px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-38: 30px;
        --fs-48: 38px;
         --fs-64: 48px;
    }
}

@media (max-width:400px) {
    :root {
        --fs-38: 30px;
        --fs-48:35px;
         --fs-64: 33px;
    }
}