:root{
    --fs-sm:16px;
    --fs-md:32px;
    --fs-lg:38px;
    --fs-xl:48px;
    --fs-xxl:64px;
    --fw-400:400;
    --fw-700:700;
}
@media (max-width:1300px) {
    :root{
        --fs-md:24px;
    }
}

@media (max-width:768px) {
    :root {
        
        --fs-lg: 33px;
        --fs-xl: 43px;
        --fs-xxl: 56px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-lg: 30px;
        --fs-xl: 38px;
         --fs-xxl: 48px;
    }
}

@media (max-width:400px) {
    :root {
        --fs-lg: 30px;
        --fs-xl:35px;
         --fs-xxl: 33px;
    }
}