/* nav details  */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.hero {
  display: flex;
  flex-direction: column;
}
.d-none {
  display: none !important;
}
.text-center{
  text-align: center !important;
}
.name {
  color: white;
  line-height: 80px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav {
  margin-bottom: -1px;
  width: 100%;
  position: relative;
  z-index: 1;
  /* background: #070402; */
}

.gap-32 {
  gap: 32px;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.menuLink {
  list-style: none;
}
ul li a {
  font-family: Helvetica;
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
  line-height: 18.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  transition: all 300ms linear;
}
ul li a:hover {
  color: #00a8e8;
}
.menu-links:hover {
  color: #00a8e8;
}
.gap-3 {
  gap: 3px;
}
.btn {
  padding: 15px 20px 15px 20px;
  border: 1px solid white;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 50px;
  font-family: Helvetica;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  line-height: 18.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: white;
  transition: all 300ms linear;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid white;
  background: #c1bcb8;
}
.pt-16 {
  padding-top: 16px;
}
.gap-24 {
  gap: 24px;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
/* section-details */
.bg-img {
  background-image: url(/assets/image/section-1-blue-layer.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 200px;
  /* object-fit: cover;
  min-height: 100vh; */
}
.box {
  padding-top: 182px;
}
.heading {
  font-family: Helvetica;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-400);
  line-height: 70.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.bold {
  font-family: Helvetica;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-700);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.image {
  position: relative;
  bottom: -20%;
}
.z-1 {
  z-index: 1;
  position: relative;
}
.max-w-506 {
  max-width: 506px;
}
.content {
  font-family: Helvetica;
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  opacity: 90%;
}
input[type="text"] {
  background: none;
  border: 0px;
  outline: none;
  width: 60%;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.input-text {
  font-family: Helvetica;
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: grey;
}
.label-box {
  background: white;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 50px;
  padding: 9px 9px 9px 27px;
  margin-top: 42px;
}
.bg-blue {
  background: #00a8e8;
  color: white;
}
.hover-color:hover {
  color: white;
}
.bottom-text {
  font-family: Helvetica;
  font-size: var(--fs-lg);
  font-weight: var(--fw-400);
  line-height: 41.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 548px;
}
.blue-color {
  color: #00a8e8;
}
.box-parent {
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-absolute {
  top: -8%;
  right: -12%;
  position: absolute;
}
.max-w-558 {
  max-width: 558px;
}
.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.w-70{
  width: 70%;
}
.list-style-unset{
  list-style: none;
}
/* section-2 details  */
.mt-202 {
  margin-top: 202px;
}
/* section-3 details  */
.color-black {
  color: black;
}
.font-48 {
  font-size: var(--fs-xl);
}
.line-height {
  line-height: 52px;
}
.max-w-409 {
  max-width: 409px;
}
.heading-3 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 38px;
  color: #003459;
}
.pt-28 {
  padding-top: 28px;
}
.flex-col {
  flex-direction: column;
}
.gap-8 {
  gap: 8px;
}
.pl-20 {
  padding-left: 20px;
}
.w-auto {
  width: auto !important;
}
.mt-42 {
  margin-top: 42px;
}
.m-162 {
  margin-top: 162px;
  margin-bottom: 162px;
}

/* section-4 details  */
/* box details  */
.upper-layer{
    position: relative;
}
.upper-layer::before{
    content: "1. Enter Your Location and Preferences";
    background: #E5F4F9;
    position: absolute;
    opacity: 90%;
    transition: all 300ms linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 200%;
    padding-left: 200px;
    font-family: Helvetica;
font-size: var(--fs-md);
font-weight: var(--fw-400);
line-height: 35.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.upper-layer:hover::before{
 content: "";
 background-color: unset;
 transform: rotate(50deg);
}
.upper-layer-2{
    position: relative;
}
.upper-layer-2::before{
    content: "2. Compare Providers";
    background: #E5F4F9;
    position: absolute;
    opacity: 90%;
    transition: all 300ms linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 200%;
   padding-left: 200px;
    font-family: Helvetica;
font-size: var(--fs-md);
font-weight: var(--fw-400);
line-height: 35.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.upper-layer-2:hover::before{
 content: "";
 background-color: unset;
 transform: rotate(50deg);
}
.upper-layer-3{
    position: relative;
}
.upper-layer-3::before{
    content: "3. Switch Easily";
    background: #E5F4F9;
    position: absolute;
    opacity: 90%;
    transition: all 300ms linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 200%;
   padding-left: 200px;
    font-family: Helvetica;
font-size: var(--fs-md);
font-weight: var(--fw-400);
line-height: 35.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.upper-layer-3:hover::before{
 content: "";
 background-color: unset;
 transform: rotate(50deg);
}
.upper-layer-4{
    position: relative;
}
.upper-layer-4::before{
    content: "4. Choose the Best Plan";
    background: #E5F4F9;
    position: absolute;
    opacity: 90%;
    transition: all 300ms linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 200%;
   padding-left: 200px;
    font-family: Helvetica;
font-size: var(--fs-md);
font-weight: var(--fw-400);
line-height: 35.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.upper-layer-4:hover::before{
 content: "";
 background-color: unset;
 transform: rotate(50deg);
}
.box-content{
    position: absolute;
    bottom: -100%;
    padding: 32px;
}
.box-2:hover .box-content{
    position: absolute;
    bottom: 0%;
    background: #003459;
    color: white;
    transition: all 300ms linear;
}
.box-2{
    overflow: hidden;
    cursor: pointer;
}
.box-heading{
  font-family: Helvetica;
font-size:var(--fs-md);
font-weight: var(--fw-400);
line-height: 35.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-bottom: 14px;
}
.pb-50{
  padding-bottom: 50px;
}
.max-w-609 {
  max-width: 609px;
}

.pl-0{
  padding-left: 0 !important;
}
.pr-0{
  padding-right: 0 !important;
}
.pt-20{
  padding-top: 20px;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
/*responsive  */
@media (max-width: 1485px) {
  .p-absolute {
    position: unset;
    display: none;
  }
}
@media (max-width: 1200px) {
  .box-parent {
    height: 115%;
  }
  .box {
    padding-top: 120px;
  }
  .image {
    position: relative;
    bottom: -15%;
  }
  .m-162 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width:576px) {
  .col-sm-12{
    width: 100% !important;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 1100px) {
  nav {
    z-index: 9;
    /* background-color: black; */
  }

  .menuLink {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all 200ms linear;
  }
  label[for="menuIcon"] {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }
  label[for="menuIcon"] span {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    transition: all 200ms linear;
  }

  input:checked ~ .menuLink {
    right: 0;
  }

  input:checked ~ label[for="menuIcon"] span:first-child {
    transform: rotate(44deg);
    transform-origin: left;
  }

  input:checked ~ label[for="menuIcon"] span:last-child {
    transform: rotate(-44deg);
    transform-origin: left;
  }

  input:checked ~ label[for="menuIcon"] span:nth-child(2) {
    transform: translateX(-40px);
    opacity: 0;
    visibility: hidden;
  }
   .box {
    padding-top: 20px;
  }
   .mt-160-lg {
    margin-top: 160px !important;
  }
}
@media (max-width: 768px) {
  .bottom-text {
    padding-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .box-parent {
    height: 105%;
  }
  input[type="text"] {
    width: 80%;
    padding-top: 13px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .heading {
    line-height: 65px;
  }
  .md-margin-20 {
    margin: 20px 20px 20px 0px;
    width: 90%;
  }
  .mt-130-sm {
    margin-top: 130px !important;
  }
  .image {
    bottom: -50px;
  }
}
@media (max-width: 480px) {
  .label-box {
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  .heading {
    line-height: 55px;
  }
}
@media (min-width: 768px) {
  .col-md-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
   .col-md-4{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1110px) {
  .col-xl-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-xl-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-xl-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 1110px){
 .max-w-409{
  max-width: unset;
 }
  .max-w-558{
  max-width: unset;
 }
  .mt-240-xl {
    margin-top: 240px;
  }
  .max-w-506{
    max-width: unset;
  }
  .bottom-text{
    max-width: unset;
  }
   .image {
    bottom: -110px;
  }
}
@media (max-width:992px) {
  .pr-100 {
    padding-right: 0;
  }
   .col-lg-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
.d-flex-unset{
  flex-direction: column;
  align-items: center;
}
  .lg-d-block {
    display: block;
    display: flex;
    align-items: center;
  }
  .d-block {
    display: block !important;
    display: flex !important;
  }
  .lg-d-none {
    display: none;
  }
  .image {
    bottom: -110px;
  }
  .lg-mb-20 {
    margin-bottom: 20px;
  }
}